<p>menu works!</p>
<input type="text" id="search">
<button (click)="search()">Buscar</button>
@if(friendList != null){
    <div>
        @for(friend of friendList; track friend.nickName){
            @if(compare(friend.nickName)){
                <p>{{friend.nickName}} <button>Perfil</button><button (click)="deleteUser(friend.nickName)">Eliminar amigo</button></p>
            }
        }
    </div>
}

<form (ngSubmit)="searchUser()">
    <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    <button>Buscar</button>
</form>
@if(userList != null){
    <div>
        @for(user of userList; track user.id){
            <p>{{user.nickName}} @if(user.message == "no"){<button (click)="requestUser(user.nickName)">Enviar solicitud</button>}</p>
        }
    </div>
}

@if(requestList != null && requestList != []){
    <div>
        @for(request of requestList; track request.nickName){
            <p><b>{{request.nickName}}</b> te a solicitado ser tu amigo<button (click)="addUser(request.nickName)">Aceptar solicitud</button><button (click)="rejectUser(request.nickName)">Rechazar Solicitud</button></p>
        }
    </div>
}


<button (click)="deleteToken()"><i class="fa-solid fa-right-from-bracket"></i></button>
<div>{{decoded.nickName}}</div>
<img [src]="url" alt="mi fotito wuapa">
