@font-face{
    font-family: titulo;
    src: url('/assets/fonts/oldtimer.regular.ttf');
}
.the-father{
    height: 100vh;
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.allContent {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    
}

/* Estilos para la cabecera */
.header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19%;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.header div {
    align-items: center;
    gap: 10px;
}

.header-logOut {
    background-color: rgb(126, 126, 126);
    color: rgb(63, 16, 16);
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
}

.header-title{
    font-family: titulo;
}

.header-dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#request-box{
    font-size: 50px;
}

.header-requests-closed{
    display: none;
}

.header-requests{
    position: absolute;
    top: 190%; /* Justo debajo del icono */
    left: 50%;
    transform: translateX(-50%); /* Centrar con respecto al icono */
    padding: 10px;
    display: block;
    background-color: #ccc;
}

.header-request{
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 60px;
    height: 60px;
}

.header-name {
    font-family: titulo;
}

.user-information{
    display: flex;
    flex-direction: column;
}
.request-count{
    background-color: #A82222;
        border-radius: 100%;
        position: relative;
        bottom: 50px;
        left: 36px;
        font-size: 15px;
        width: 20px;
        height: 20px; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
}

/* Cuerpo principal */
.body {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 10%;
}

.friend-list, .main-buttons {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
}

.friend-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    gap: 10px;
    height: auto;
    min-height: 60%;
}

.friend-list-searchBar{
    display: flex;
    flex-direction: row;
}

.friend-list div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.friend-list input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.friend-list button {
    padding: 5px 10px;
    border-radius: 5px;
}

.friend-list-friends{
    display: flex;
    flex-direction: column;
}

.friend-data{
    display: flex;
    flex-direction: row;
}

.friend-data-nickname{
    font-family: titulo;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    min-height: 60%;
    width: 100%;
}

.main-buttons button{
    width: 80%;
    font-size: x-large;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: rgb(126, 126, 126);
    color: rgb(63, 16, 16);
    cursor: pointer;
    font-family: titulo;
}

button:hover {
    background-color: rgb(100, 100, 100);
}

.party-requests{
    flex: 1;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    height: auto;
}

.party-request{
    display: flex;
    flex-direction: row;
}
/*Responsive*/
@media(max-width:770px){
    .body{
        flex-direction: column-reverse;
        flex-grow: 0;
        margin-bottom: 0;
    }
    .allContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-buttons{
        width: 80%;
    }
    .the-father{
        height: auto;
    }
}