<div class="body">
    <div class="principal-section">
        <div class="title">
            <h1>Hundir la flota</h1>
        </div>
        <div class="image">
            <img src="assets/Ship.png" alt="">
        </div>
        <div class="information">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
        </div>
    </div>
    <div class="centerShip"></div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
    </div>
    <div class="buttonContainer">
        <button class="loginButton">Empezar a navegar</button>
    </div>
</div>