.body{
    background-image: url(../../../../public/assets/background.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
}
.principal-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information{
    width: 50%;
    text-align: justify;
}