@font-face{
    font-family: titulo;
    src: url('/assets/fonts/oldtimer.regular.ttf');
}
.body{
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.title{
    font-family: titulo;
}
.principal-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information{
    width: 50%;
    text-align: justify;

    background-color: rgb(126, 126, 126);
    color: black;
    padding: 1%;
    border-radius: 20px;
}
.centerShip{
    transition: 2s;
    transform: translate(-50%, -50%);
    background-image: url(/assets/CenteredShip.png);
    position: fixed;
    left: 54.6%;
    top: 80%;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}
.buttonContainer{
    text-align: center;
}
.loginButton{
    background-color: rgb(126, 126, 126);
    color: rgb(63, 16, 16);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: titulo;
}
.title-rule{
    font-family: titulo;
    margin-bottom: 5%;
}
.right-rule{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
    opacity: 0;
}
.right-rule-contain-title{
    text-align: center;
    font-family: titulo;
}
.right-rule-contain{
    width: 30%;
    text-align: left;
    background-color: grey;
    border-radius: 10px;
    padding: 1%;
}
.right-rule-image{
    width: 100%;
    max-width: 30%;
    max-height: 350px;
    border-radius: 10px;
}
.left-rule{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
}
.left-rule-contain{
    width: 30%;
    text-align: left;
    background-color: grey;
    border-radius: 10px;
    padding: 1%;
}
.left-rule-contain-title{
    text-align: center;
    font-family: titulo;
}
.left-rule-image{
    width: 100%;
    max-width: 33%;
    max-height: 300px;
    border-radius: 10px;
}
.right-rule-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
    width: 100%;
    opacity: 0;
}
.right-rule-image-rule-3{
    width: 30%;
    max-width: 50%;
    max-height: 350px;
    border-radius: 10px;
}
.right-rule-contain-rule-3{
    width: 30%;
    text-align: left;
    background-color: grey;
    border-radius: 10px;
    padding: 1%;
}
.left-rule-4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
    width: 100%;
    opacity: 0;
}
.left-rule-contain-rule-4{
    width: 30%;
    text-align: left;
    background-color: grey;
    border-radius: 10px;
    padding: 1%;
}
.left-rule-image-rule-4{
    width: 100%;
    max-width: 33%;
    max-height: 300px;
    border-radius: 10px;
}
/*responsive*/

@media (max-width: 768px){
    .centerShip{
        top: 94%;
    }
}
@media(max-width: 426px){
    .centerShip{
        display: none;
    }
    .right-rule{
        flex-direction: column;
    }
    .right-rule-contain{
        width: 70%;
    }
    .right-rule-image{
        max-width: 70%;
    }
    .left-rule{
        flex-direction: column;
        margin-bottom: 8%;
    }
    .left-rule-contain{
        width: 70%;
    }
    .left-rule-image{
        max-width: 70%;
    }
    .right-rule-3{
        flex-direction: column;
    }
    .right-rule-contain-rule-3{
        width: 70%;
    }
    .right-rule-image-rule-3{
        width: 70%;
    }
    .left-rule-4{
        flex-direction: column;
    }
    .left-rule-contain-rule-4{
        width: 70%;
    }
    .left-rule-image-rule-4{
        width: 70%;
    }

}
