<div class="body">
    <div class="principal-section">
        <div class="title">
            <h1>Hundir la flota</h1>
        </div>
        <div class="image">
            <img src="assets/Ship.png" alt="imagen principal del barco de la web">
        </div>
        <div class="information" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci nam voluptate explicabo mollitia illum recusandae aut necessitatibus nemo neque, magnam doloribus repellat. Odio ipsum harum inventore, provident commodi repellat?
            Commodi voluptatem quaerat quis sed fuga sapiente animi ea deleniti maiores odio sint quasi, numquam amet a perferendis fugit molestiae velit laborum corporis? Natus autem obcaecati sapiente ratione esse possimus.
            Quia repellendus corrupti magni cupiditate dolore porro recusandae ducimus rerum eius, aliquid iste officiis culpa animi ipsa tenetur aperiam ea quo dolor! Debitis suscipit iusto fugit exercitationem, repellat fugiat sunt!
            Ut cupiditate temporibus, neque, iusto praesentium eius veritatis non delectus voluptates nihil, unde sint ea? Fugit ut, itaque mollitia eius nisi quod nostrum aperiam dignissimos dolorem illo, accusantium aut cum?
            Vitae assumenda, architecto facilis obcaecati porro perferendis suscipit voluptate in neque nulla nihil soluta at, deleniti expedita voluptates vel maiores inventore natus, commodi dolorem. Iusto quidem totam distinctio ipsum rerum.</p>
        </div>
        <div class="title-rule">
            <h1>Reglas</h1>
        </div>
        <div class="right-rule">
            <div class="right-rule-contain">
                <h3 class="right-rule-contain-title">Regla 1</h3>
                <p>Cada jugador cuenta con dos cuadrículas de 10×10.</p>
                <p>En una, debe colocar estratégicamente 10 barcos de diferentes tamaños en posiciones horizontal y vertical dejando siempre una cuadrícula en blanco entre barco y barco. Se pueden colocar en el borde de la cuadrícula.</p>
                <p>Cantidad de barcos:</p>
                <p>1 barco de 4 cuadrados</p>
                <p>2 barcos de 3 cuadrados</p>
                <p>1 barcos de 2 cuadrados</p>
            </div>
            <img class="right-rule-image" src="assets/Regla1.jpg" alt="imagen de las cuadriculas del juego">
        </div>
        <div class="left-rule">
            <div class="left-rule-contain">
                <h3 class="left-rule-contain-title">Regla 2</h3>
                <p>El jugador que le toque turno eligira una de las cuadriculas la cual puede ser de ejemplo D-5 en estas circunstacias puede que la posicion que halla elegido sea agua o tocado un barco si es agua se le marcara la cuadricula en blanco y si es barco se le marcara la cuadricula en rojo si el disparo ha dado a un barco entonces tendra otro turno el jugador que ha tocado el barco</p>
            </div>
            <img class="left-rule-image" src="assets/Regla2.jpg" alt="imagen de las cuadriculas del juego">
        </div>
    </div>

    <div class="centerShip"></div>
    <div class="buttonContainer">
        <button class="loginButton">Empezar a navegar</button>
    </div>
</div>