<div class="login" #login>
    <h1>hola</h1>
    <form  [formGroup]="loginForm">
        <label>correo o usuario
            <input type="text" [(ngModel)]="identifier" formControlName="identifier">
        </label>
        <label>contraseña
            <input type="password" [(ngModel)]="password" formControlName="password">
        </label>
        <input type="checkbox" id="rememberLogin" (click)="rememberUser = !rememberUser"> <p>Recuérdame</p>
        <button (click)="loginUser()">login</button>
    </form>
    <button (click)=changesignup()>registro</button>
</div>
<div class="sign-up" #signup>
    <h1>adios</h1>
    <form [formGroup]="registerForm">
        <label>Apodo:
            <input type="text" [(ngModel)]="nickname" formControlName="nickname">
        </label>
        <label>Email:
            <input type="email" [(ngModel)]="email" formControlName="email">
        </label>
        <label>Contraseña:
            <input type="password" [(ngModel)]="password" formControlName="password">
        </label>
        <label>Confirmar contraseña:
            <input type="password">
        </label>
        <label>Avatar:

        </label>
        <button (click)="registerUser()">Registrarte</button>
    </form>
    <button (click)=changelogin()>inicio sesion</button>
</div>