<div class="login" #login>
    <h1>hola</h1>
    <form [formGroup]="loginForm">
        <label>correo o usuario
            <input type="text" [(ngModel)]="identifier" formControlName="identifier">
        </label>
        <label>contraseña
            <input type="password" [(ngModel)]="password" formControlName="password">
        </label>
        <label>
            <p>Recuérdame</p>
            <input type="checkbox" id="rememberLogin" (click)="rememberUser = !rememberUser">
        </label>
        <button (click)="loginUser()">login</button>
    </form>
    <button (click)=changesignup()>registro</button>
</div>
<div class="sign-up" #signup>
    <h1 class="sentence">¡Bienvenido a bordo, capitán! ¡Tu flota te espera!</h1>
    <form [formGroup]="registerForm" class="sign-up-form">
        <label>Apodo:
            <input type="text" [(ngModel)]="nickname" formControlName="nickname">
        </label>
        <label>Email:
            <input type="email" [(ngModel)]="email" formControlName="email">
        </label>
        <label>Contraseña:
            <input type="password" [(ngModel)]="password" formControlName="password">
        </label>
        <label class="confirmPassword-label">Confirmar contraseña:
            <input type="password" [(ngModel)]="confirmPassword" formControlName="confirmPassword" class="confirmPassword-input">
        </label>
        <label>Avatar:
            <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="onFileSelected($event)" class="special-input">
        </label>
        <label class="rememberMe">
            <p>Recuérdame</p>
            <input type="checkbox" id="rememberRegister" (click)="rememberUser = !rememberUser" class="checkbox-input">
        </label>
        <div class="btn-sign-up-container">
            <button type="submit" (click)="registerUser()" class="btn-sign-up">Registrarte</button>
        </div>
    </form>
    <div class="change-container">
        <h2 class="change-text">¿Ya tienes una flota?</h2>
        <button (click)=changelogin() class="btn-change">inicio sesion</button>
    </div>
    
</div>