<h1>Partida</h1>
@if(barcosoponente==null){
    
}@else{
<div class="body-colocar-barcos">
    <div class="tablero">
    @for (letra of letras; track $index) {
        <div class="rows">
        @for (item of items; track $index) {
                <div id="{{letra}}{{item}}" class="game-box"><p>{{letra}}{{item}}</p></div>
        }
        </div>
    }
    </div>
    <div class="barcos">
        <div id="barco4" class="barco4-column" (click)="cambiarposicionbarco4()" draggable="true">
            <div id="posicion1" class="game-box-barco4"></div>
            <div id="posicion2" class="game-box-barco4"></div>
            <div id="posicion3" class="game-box-barco4"></div>
            <div id="posicion4" class="game-box-barco4"></div>
        </div>
    </div>
</div>
}

